In [4]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]
extracted_data = [person for person in data if person["age"] > 25]
print(extracted_data)

[{'name': 'Alice', 'age': 28}, {'name': 'Charlie', 'age': 30}]

In [9]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# for row in matrix:
#     for element in row:
#         print(element, end=" ")
flattened_matrix = [element for row in matrix for element in row]
print(flattened_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# use enumerate() for looping to add 5 extra point to each grade in the list, the 5th one add 10 
grades = [88, 92, 78, 65, 50, 94]
for i, grade in enumerate(grades):
    if i == 4:
        grades[i] += 10
    else:
        grades[i] += 5
print(grades)

[93, 97, 83, 70, 65, 99]

In [25]:
# print the grades if they are prime value a number that can only be divided by 1 and itself
grades = [88, 92, 78, 65, 50, 94, 3]
for grade in grades:
    if grade < 2:
        continue
    for i in range(2, grade):
        if grade % i == 0:
            break
    else:
        print(grade)

3

In [14]:
# filter out elements depend on their index: 
# use list comprehension and enumerate() to get elements with even index
data = [100, 200, 300, 400, 500]
for i, e in enumerate(data):
    if i % 2 == 0:
        print(e, end=" ")

100 300 500

[100, 300, 500]

In [20]:
# create a dictionary from lists using zip()
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']

dict(zip(keys, values))

{'name': 'Alice', 'age': 25, 'grade': 'A'}

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [41]:
# sort the dictionary based on the ages using lambda
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

[{'name': 'Jack', 'grade': 'A-', 'age': 16},
 {'name': 'Joss', 'grade': 'A+', 'age': 19},
 {'name': 'John', 'grade': 'A', 'age': 20},
 {'name': 'Jane', 'grade': 'B', 'age': 21},
 {'name': 'Dave', 'grade': 'C', 'age': 25}]

In [43]:
# Sort by age, then by salary if ages are the same
# use lambda
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
]

[{'name': 'Bob', 'age': 25, 'salary': 50000}, {'name': 'Alice', 'age': 30, 'salary': 80000}, {'name': 'Charlie', 'age': 35, 'salary': 120000}]

In [45]:
# Generators are highly useful in data-heavy applications:

# Reading Large Files: Use generators to read large files line by line without loading the entire file into memory.
# Data Streaming: Stream data entries for real-time data processing.
# Large Calculations: Break down massive calculations into smaller, more manageable chunks.

In [18]:
# Create a dataframe 3*3
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45],
  "score": [90, 95, 85]
}

df = pd.DataFrame(data)
display(df)

display(df.loc[1, "duration"])

   calories  duration  score
0       420        50     90
1       380        40     95
2       390        45     85

np.int64(40)

In [15]:
# Select a data in the second row and column
display(df.iloc[[1]])

   calories  duration  score
1       380        40     95

In [19]:
df.describe()

         calories  duration  score
count    3.000000       3.0    3.0
mean   396.666667      45.0   90.0
std     20.816660       5.0    5.0
min    380.000000      40.0   85.0
25%    385.000000      42.5   87.5
50%    390.000000      45.0   90.0
75%    405.000000      47.5   92.5
max    420.000000      50.0   95.0